@model DAL.Entidades.Dispositivo
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Dispositivo</h2>
<br />
<hr />
<div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_Dispositivo" />
            <div class="form-group">
                <b>@Html.DisplayName("Nome Dispositivo")</b>
                <input asp-for="Nome_Dispositivo" class="form-control text-center" />
                <span asp-validation-for="Nome_Dispositivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Status_Dispositivo" /> @Html.DisplayName("Status Dispositivo")
                    </label>
                </div>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-success">Voltar</a>
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
